<h1 class="text-center text-success text-decoration-underline">
   Welcome To HadyHoldings Company
</h1>


<a asp-controller="Employees" asp-action="GetIndexView" class="btn btn-primary mt-3">
   <i class="fa-solid fa-list"></i> Employees
    </a>
<hr />
<a asp-controller="Departments" asp-action="GetIndexView" class="btn btn-secondary">
    <i class="fa-solid fa-list-alt"></i>
    Departments</a>


